<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <!--<div id="breadcrumb">&lt;!&ndash; bredcrumb starts here&ndash;&gt;-->
            <!--<ul class="breadcrumb">-->
                <!--<li><a href="#">Acasa</a></li>-->
                <!--<li><a href="#">Cum Compar</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; breadcrumb ends here&ndash;&gt;-->
        <div id="comp_cont"><!--comp_cont starts here-->
            <h1>CUM POTI COMPARA PRETUL PRODUSELOR</h1>
            <img class="step" src="resources/images/client/step_1.png" alt ="step1 " />
            <h2>Introdu produsul in bara de cautare</h2>
            <img class="step1_pic" src="resources/images/client/step1_pic.png" alt ="step1 " />
            <img class="step" src="resources/images/client/step_2.png" alt ="step2 " />
            <p class="step2_text">Filtreaza cautarea dupa  <b>pret, producator si magazin</b></p>
            <img class="step1_pic" src="resources/images/client/step2_pic.png" alt ="step2_PIC " />
            <img class="step" src="resources/images/client/step_3.png" alt ="step2 " />
            <p class="step3_text">Se afiseaza produsul cautat, </br>magazinele in care poate fi gasit si <span class="mov1">pretul cel mai mic</span></p>
            <img class="step1_pic" src="resources/images/client/step3_pic.png" alt ="step3_PIC " />
        </div><!-- comp_cont ends here-->
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->