<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <section>
            <div class="contactContainer fourtyTopMargin">
                <h1>Formular de contact</h1>
                <div class="leftFloat fifthyPerc">
                    <form class="form fourtyTopMargin">
                        <ul><li><label for="name">Nume:</label></li></ul>
                        <ul><li><input type="text" name="name"/></li></ul>
                        <ul><li><label for="email">Email:<span class="red">*</span></label></li></ul>
                        <ul><li><input type="text" name="email"/></li></ul>
                        <ul><li><label for="telephone">Telefon:</label></li></ul>
                        <ul><li><input type="text" name="telephone"/></li></ul>
                        <ul><li><label for="message">Mesaj:<span class="red">*</span></label></li></ul>
                        <ul><li><textarea name="message"></textarea></li></ul>
                    </form>
                </div>
                <div class="leftFloat fifthyPerc">
                    <div id="date_contact">
                        <h2>www.pricepage.ro</h2>
                        <h2>ALEXANDRU KORONKA</h2>
                        <h3>Tel: 0752 946 211</h3>
                        <h3>Email: contact@pricepage.ro</h3>
                        <img src="resources/images/client/logo_contact.png"/>
                    </div>

                </div>
            </div>
        </section>
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->
