<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <section>
            <div class="contactContainer fourtyTopMargin">
                <h1>Formular de contact</h1>
                <div class="leftFloat fifthyPerc">
                    <form class="form fourtyTopMargin">
                        <ul><li><label for="name">Nume:</label></li></ul>
                        <ul><li><input type="text" name="name"/></li></ul>
                        <ul><li><label for="email">Email:<span class="red">*</span></label></li></ul>
                        <ul><li><input type="text" name="email"/></li></ul>
                        <ul><li><label for="telephone">Telefon:</label></li></ul>
                        <ul><li><input type="text" name="telephone"/></li></ul>
                        <ul><li><label for="message">Mesaj:<span class="red">*</span></label></li></ul>
                        <ul><li><textarea name="message"></textarea></li></ul>
                    </form>
                </div>
                <div class="leftFloat fifthyPerc">
                    Trebe butonu de trimite si partea asta taiata
                </div>
            </div>
        </section>
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <div class="categoryContainer"><!--l_menu starts here-->
                <section>
                    <hgroup>
                        <h1>Categories</h1>
                        <h1 class="menu">Catalog Produse</h1>
                        <ul>
                            <li><h2 class="submenu">Produse Alimentare</h2></li>
                            <li><h2 class="submenu">Produse Non-alimentare</h2></li>
                        </ul>
                        <h1 class="menu">Magazine</h1>
                        <ul>
                            <li><h2 class="submenu">Hypermarketuri</h2></li>
                            <li><h2 class="submenu">Cash and Carry</h2></li>
                            <li><h2 class="submenu">Supermarket</h2></li>
                            <li><h2 class="submenu">Mini market</h2></li>
                        </ul>
                        <h1 class="menu">Producatori</h1>

                    </hgroup>
                </section>
            </div><!--l_menu ends here-->
            <div class="newsletterContainer"><!--newsletterContainer starts here-->
                <section>
                    <h1>Banner</h1>
                    <img src="resources/images/client/banner.jpg" class="banner" alt="banner">
                </section>
                <section>
                    <h1>Newsletter</h1>
                    <div class="newsletterContent"></div>
                </section>
            </div> <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->
