<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <section>
            <h1>Decriptive Picture</h1>
            <div class="aboutImg">
                <img src="resources/images/client/despre_pp.png"/>
            </div>
        </section>
        <section>
            <div class="aboutContainer">
                <h1>Despre PRICE PAGE</h1>
                <hr />
                <p>Sau <span class="aboutSitename">Pagina Preturilor</span>, este exact ceea ce numele sau indica.</p>
                <p>Este site-ul care aduce in fata dumneavoastra, preturile unei game largi de produse, dintr-un numar in crestere de magazine.</p>
                <p>Ne dorim sa devenim ajutorul pe care se bazeaza clientii, interesati sa cunoasca ce, si de unde sa cumpere, inainte de a-si face cumparaturile si "acel" mic ajutor, care poate aduce mari diferente pentru magazinele ce vor mai mult.</p>

                <h2>PRICE PENTRU CLIENTI</h2>
                <hr />
                <p>Price Page permite oamenilor sa cunoasca, din comfortul casei lor, produsele puse la dispozitia lor, de magazinele din orasul lor, din cartierul lor, sau din imediata lor apropiere.</p>
                <p>Totodata, Price Page, va ofera ocazia unica de a putea compara preturile unor produse similare, in magazine diferite, astfel incat dumneavoastra sa cunoasteti diferentele de pret, iar decizia de cumparare sa va fie mai usoara.</p>
                <p>Ne dorim sa puteti cunoaste din timp unde puteti gasi produsele dorite de dumneavoastra, la cel mai bun pret, cea mai buna calitate, si in cea mai apropiata locatie de dumneavoastra.</p>
                <p>Scopul nostru este sa va ajutam pe dumneavoastra, sa stiti, ce, cand, si de unde sa cumparati.</p>

                <h2>PRICE PAGE PENTRU MAGAZINE</h2>
                <hr />
                <p>In economia actuala, magazinele dumneavoastra, fie isi doresc sa se mentina la un nivel echilibrat al vanzarilor, fie sa isi dezvolte in continuare vanzarile, fie sa nu dea faliment.</p>
                <p>In toate cazurile, orice avantaj obtinut, care poate ajuta magazinul dumneavoastra sa atinga obiectul dorit, este binevenit. Dar intr-o perioada de timp in care informatia este la putere, si concurenta dumneavoastra, poate oferi clientilor pe care ii urmariti dumneavoastra, si totodata, clientilor pe care va bazati dumneavoastra, mai multe date despre produsele lor, preturile lor si ofertele lor, avantajul nu este doar binevenit, ci pur si simplu de dorit.</p>
                <br/>
                <p><span class="aboutFocusPhrase">PRICE PAGE REPREZINTA SITE-UL CARE VA PERMITE SA PROMOVOATI IN MOD GRATUIT PRODUSELE DIN MAGAZINUL DUMNEAVOASTRA</span></p>
                <p>-produse pe care va bazati actual</p>
                <p>-produsele care au un potential mare de vanzare, dar nu sunt cunoscute de masele de oameni</p>
                <p>-produse carora doriti sa le dezvoltati nivelul vanzarilor</p>
                <p>Scopul nostru este sa oferim o sansa in plus magazinelor, de a face cunoscute produsele, promotiile, sau serviciile, pe care se bazeaza.</p>
                <br />
                <p><span class="aboutSiteLink">www.PricePage.ro</span> sau Pagina Preturilor, reprezinta acel intermediar obiectiv, intre clienti si magazine, menit sa ajute ambele parti sa obtina mai mult din ceea ce isi doresc, cu minim de implicare.</p>
            </div>
        </section>
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->