<img class="filtru_titlu" src="resources/images/client/filtru_titlu.png" alt="filtru de produse"/>
<div class="filtru_select">
    <h2>Branzeturi</h2>
    <div class="style_select">
        <select>
            <option selected>Subcategorii</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
    </div>
    <h2>Filtreaza dupa:</h2>
    <div class="style_select">
        <select>
            <option selected>Pret</option>
            <option value="asc">Crescator</option>
            <option value="desc">Descrescator</option>
        </select>
    </div>
    <div class="style_select">
        <select>
            <option selected>Producator</option>
            <option value="saab">Populat dinamic</option>
        </select>
    </div>
    <div class="style_select">
        <select>
            <option selected>Magazin</option>
            <option value="saab">Populat dinamic</option>
        </select>
    </div>
    <a href="#" class="aplica"><img src="resources/images/client/aplica.jpg" alt="aplica"/></a>
</div>