<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <div id="slider"><!--slider starts here-->
            <section><h1>Slider</h1></section>
        </div><!-- slider ends here-->
        <div id="prod_container" ng-controller="PromotionsCtrl"><!--prod_container here-->
            <section>
                <h1>Promotii</h1>
                <div id="title"><!-- title starts here-->
                    <p>Promotii - afla unde gasesti cel mai bun pret din brasov</p>
                    <a href="#">Vezi toate>></a>
                </div><!-- title ends here-->
                <div id="produse"><!-- produse starts here-->
                    <div class="{{product.idx % 4 == 0 && 'prod' || 'prod prod_grid'}} {{product.idx > 4 && '' || 'prod_grid_top'}}" ng-repeat="product in products" ng-include="'partials/product.html'"></div>
                </div><!--produse ends here-->
            </section>
            <section>
                <h1>Produse populare</h1>
            </section>
        </div><!--prod_container ends here-->
        <div id="info"><!--info starts here-->
            <div id="left_welcome"><!--left_welcome starts here-->
                <h2>Bun Venit pe PRICE PAGE</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut ipsum quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut ipsum quam.Quisque suscipit eros vitae urna dignissim eget mattis massa interdum. Aliquam erat volutpat. </p>
            </div><!-- left_welcome ends here-->
            <div id="right_welcome"><!-- right_welcome starts here-->
                <h2>Logheaza-te</h2>
                <ul class="logheaza">
                    <li>Si gaseste mai usor cel mai mic pret la produsele preferate</li>
                    <li>Promotii existente in oras la produsele cautate</li>
                    <li>Articole noi postate la magazinele din jurul tau</li>
                </ul>
            </div><!-- right_welcome ends here-->
        </div><!--info ends here-->
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->