<!--<h1>Footer content</h1>-->
<div class="footerContainer">
    <nav class="footerCategContainer">
        <h1>Categories Sitemap</h1>
        <p class="footerTitle">Catalog Produse</p>
        <ul ng:controller="CategoryCtrl">
            <li ng:repeat="category in categories"><a href="#">{{category.name}}</a></li>
            <!--<li><a href="#">Produse Alimentare</a></li>-->
            <!--<li><a href="#">Produse Non-alimentare</a></li>-->
        </ul>
        <p class="footerTitle">Producatori</p>
    </nav>
    <nav class="footerStoresContainer">
        <h1>Stores Sitemap</h1>
        <p class="footerTitle">Magazine</p>
        <ul ng:controller="StoreTypesCtrl">
            <li ng:repeat="storeType in storeTypes"><a href="#">{{storeType.name}}</a></li>
        </ul>
    </nav>
    <nav class="footerAboutContainer">
        <h1>About Sitemap</h1>
        <p class="footerTitle">Despre noi</p>
        <ul>
            <li><a href="#/despre-noi">Despre noi</a></li>
            <li><a href="#/contact">Contact</a></li>
        </ul>
    </nav>
    <nav class="footerPartnersContainer">
        <h1>Partners Sitemap</h1>
        <p class="footerTitle">Colaboratori</p>
        <ul>
            <li><a href="#">Beneficii</a></li>
            <!--<li><a href="#">Inregistrare</a></li>-->
        </ul>
    </nav>
    <nav class="footerLoginContainer">
        <h1>Login Sitemap</h1>
        <p class="footerTitle">Conecteaza-te</p>
        <ul>
            <li class="leftFloat"><a href="#"><img src="resources/images/client/facebook.png"/></a></li>
        </ul>
    </nav>
</div>
<div class="copyrightContainer">
    <section>
        <h1>Copyright Zone</h1>
        <p class="copyRightTxt">Copyright &copy; <time datetime="2013">2013</time> PRICE PAGE | Toate drepturile rezervate</p>
    </section>
</div>