<h1>Navigation Header</h1>
<nav id="navBar">
    <h1>Navigation zone</h1>
    <ul>
        <li><a href="#/despre-noi">Despre Price Page</a></li>
        <li><a href="#/magazine-promovate" class="second">Magazine Promovate</a></li>
        <li><a href="#/contact" class="third">Contact</a></li>
    </ul>
    <ul class="menuRight">
        <li class="secondRight"><a href="#">Intra in cont</a></li>
        <li><a href="#/">Creare cont</a></li>
    </ul>
</nav>
<section id="header">
    <h1>Page Header</h1>
    <a class="logo" href="#/"><img src="resources/images/client/logo.png"/></a>
    <img src="resources/images/client/cauta_head.png" class="cauta_img" />
</section>