<h1>Navigation Header</h1>
<nav id="navBar">
    <h1>Navigation zone</h1>
    <div class="h_menu_left"><a href="#/despre-noi">Despre Price Page</a></div>
    <div class="h_menu_left"><a href="#/magazine-promovate">Magazine promovate</a></div>
    <div class="h_menu_left"><a href="#/cum-compar">Cum compar?</a></div>
    <div class="h_menu_left"><a href="#/termeni-si-conditii">Termeni si conditii</a></div>
    <div class="h_menu_left"><a href="#/contact">Contact</a></div>
    <div class="h_menu_right"><a opendialog role="button">Contul Meu</a></div>
    <!--<div class="h_menu_right"><a data-toggle="modal" href="#authModal">Contul Meu</a></div>-->
</nav>
<section id="header" ng-controller="SearchCtrl">
    <h1>Page Header</h1>
    <a class="logo" href="#/"><img src="resources/images/client/logo.png"/></a>
    <img src="resources/images/client/cauta_head.png" class="cauta_img" />
    <div id="search_field">
        <form ng-submit="search()">
            <input type="text" id="search" name="search" class="search_field" ng-model="queryString"/>
            <button type="submit" class="search_btn"><img src="resources/images/client/search.jpg" title="Search" /></button>
        </form>
    </div>
</section>

<div id="authModal" class="modal hide fade" style="display:none;" ng-controller="UserCtrl" ng-include="'partials/auth.html'">
        <!--<div class="modal-header">-->
            <!--<button class="close" data-dismiss="modal">×</button>-->
            <!--<h3>Modal Heading</h3>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
            <!--<h4>Text in a modal</h4>-->
            <!--<p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem.</p>-->

            <!--<h4>Popover in a modal</h4>-->
            <!--<p>This <a href="#" class="btn popover-test" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title">button</a> should trigger a popover on hover.</p>-->

            <!--<h4>Tooltips in a modal</h4>-->
            <!--<p><a href="#" class="tooltip-test" data-original-title="Tooltip">This link</a> and <a href="#" class="tooltip-test" data-original-title="Tooltip">that link</a> should have tooltips on hover.</p>-->

            <!--<hr>-->

            <!--<h4>Overflowing text to show optional scrollbar</h4>-->
            <!--<p>We set a fixed <code>max-height</code> on the <code>.modal-body</code>. Watch it overflow with all this extra lorem ipsum text we've included.</p>-->
            <!--<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>-->
            <!--<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
            <!--<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>-->
            <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>-->
            <!--<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
            <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
            <!--<a href="#" class="btn btn-primary">Save changes</a>-->
        <!--</div>-->
</div>