<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <section>
            <h1>Decriptive Picture</h1>
            <div class="promotedShopsImg">
                <img src="resources/images/client/promo_mag_slider.png"/>
            </div>
        </section>
        <section>
            <div class="promotedShopsContainer">
                <h1>MAGAZINE PROMOVATE</h1>
                <div class="fourtyTopMargin">
                    <div class="leftFloat fifthyPerc">
                        <h2>SUNT UTILIZATOR</h2>
                        <p>Vrei sa sti mereu ofertele magazinului din care faci TU cumparaturi?</p>
                        <p>Sau vrei sa sti preturile anumitor produse de la un anumit magazin?</p>
                        <p>Sau doresti sa nu ratezi ofertele unui anumit magazin?</p>
                        <br/>
                        <p class="promotedShopsAddressingText"><span class="promotedShopsEmphasizedText">Te rugam sa completezi numele magazinului dorit de tine pe site</span>, iar, <span class="promotedShopsEmphasizedText">PRICEPAGE.RO</span> va face tot posibilul pentru a aduce in cel mai scurt timp posibil magazinul dorit de TINE pe site.</p>
                    </div>
                    <div class="leftFloat fifthyPerc">
                        <h2>SUNT PROPIETAR DE MAGAZIN</h2>
                        <p>Doriti sa obtineti un avantaj in fata concurentei voastre?</p>
                        <p>Sau va doriti sa nu ramaneti in urma concurentei voastre?</p>
                        <br />
                        <p class="promotedShopsAddressingText"><span class="promotedShopsEmphasizedText">Va rugam sa completati informatiile necesare mai jos, pentru a putea aduce mai rapid magazinul dumneavoastra pe PRICEPAGE.RO</span></p>
                    </div>
                </div>
                <br class="clearFix"/><br />
                <div class="hrWrapper"><hr/></div>
                <form class="form">
                    <div class="fourtyTopMargin">
                        <div class="leftFloat fifthyPerc">
                            <ul>
                                <li>
                                    <label for="name">Numele magazinului:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="name"/>
                                </li>
                                <li>
                                    <label for="category">Categoria magazinului:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <select name="category">
                                        <option value="Bla1" selected="true">Bla1</option>
                                        <option value="Bla2">Bla2</option>
                                        <option value="Bla3">Bla3</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="address">Adresa:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="address"/>
                                </li>
                                <li>
                                    <label for="address">Telefon:</label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="phone"/>
                                </li>
                                <li>
                                    <label for="productCategories">Categorie Produse:</label>
                                </li>
                                <li>
                                    <select name="productCategories">
                                        <option value="Toate" selected="true">Toate</option>
                                        <option value="Bla2">Bla2</option>
                                        <option value="Bla3">Bla3</option>
                                    </select>
                                </li>
                                <ul>
                                    <li>
                                        <input type="submit" value=""/>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                        <div class="leftFloat fifthyPerc">
                            <ul>
                                <li>
                                    <label for="name">Numele magazinului:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="name"/>
                                </li>
                                <li>
                                    <label for="category">Categoria magazinului:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <select name="category">
                                        <option value="Bla1" selected="true">Bla1</option>
                                        <option value="Bla2">Bla2</option>
                                        <option value="Bla3">Bla3</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="address">Adresa:<span class="red">*</span></label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="address"/>
                                </li>
                                <li>
                                    <label for="address">Telefon:</label>
                                </li>
                                <li>
                                    <input class="input" type="text" name="phone"/>
                                </li>
                                <li>
                                    <label for="productCategories">Categorie Produse:</label>
                                </li>
                                <li>
                                    <select name="productCategories">
                                        <option value="Toate" selected="true">Toate</option>
                                        <option value="Bla2">Bla2</option>
                                        <option value="Bla3">Bla3</option>
                                    </select>
                                </li>
                                <ul>
                                    <li>
                                        <input type="submit" value=""/>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br class="clearFix"/>
        <section>
            <h1>Slogan</h1>
            <div class="centered fourtyTopMargin">
                <p class="promotedShopsPhrase"><span>PRICEPAGE.RO</span> EXISTA PENTRU VOI. <span>PRICEPAGE.RO</span> EXISTA DATORITA VOUA.</p>
            </div>
        </section>
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->
