<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1" ng-controller="ProductDetailsCtrl"><!--col1 starts here-->
        <div id="breadcrumb"><!-- bredcrumb starts here-->
            <ul class="breadcrumb">
                <li><a href="#">Acasa</a></li>
                <li><a href="#">Produse Alimentare</a></li>
                <li><a href="#">Tea & Coffee</a></li>
            </ul>
        </div><!-- breadcrumb ends here-->
        <div id="produs_cont"><!--produs_cont starts here-->
            <div id="prod_pic"><!--prod_pic starts here-->
                <img class="prod_det" src="resources/images/client/bkg-prod.jpg"/>
                <div id="prod_price"><!--prod_price starts here-->
                    <p class="pret_descr">Pret <br />intre:</p>
                    <p class="pret" ng-show="product.maxSmallPrice">{{product.maxBigPrice}},<sup class="pret_up">{{product.maxSmallPrice}}</sup>lei</p>
                    <p class="pret" ng-hide="product.maxSmallPrice">{{product.maxBigPrice}} lei</p>
                    <p class="intre">-</p>
                    <p class="pret" ng-show="product.minSmallPrice">{{product.minBigPrice}},<sup class="pret_up">{{product.minSmallPrice}}</sup>lei</p>
                    <p class="pret" ng-hide="product.minSmallPrice">{{product.minBigPrice}} lei</p>
                </div><!--prod_price ends here-->
            </div><!--prod_pic ends here-->
            <div id="prod_detalii"><!--prod detalii starts here-->
                <h1>{{product.name}}</h1>
                <h2>Descriere</h2>
                <p>{{product.description}}</p>
            </div><!--prod detalii ends here-->
        </div><!--produs_cont ends here-->
        <div class="divTable"><!--divTable starts here-->
             <div class="headRow">
                <div class="divCell_1"><h1>CAT </br>COSTA</h1></div>
                <div class="divCell_2"><h1>IN CARE </br> MAGAZIN?</h1></div>
                <div class="divCell_3"><h1>INFO </br> MAGAZIN</h1></div>
             </div>
             <h2>Economiile cresc mai</br> usor cu <b>PRICE PAGE</b></h2>
             <div class="clear"></div>
             <div ng-show="product.stores" ng-repeat="store in product.stores" ng-include="'partials/product-store.html'"></div>
        </div><!--divTable ends here-->
        <div id="map_cont"><!--#map_cont starts here-->
            <div class="map_cont"><!--map_cont starts here-->
                <div class="map" id="ppMap"></div>
                <ul id="map_ul">
                    <li><img src="resources/images/client/b_poi_red.png" class="map_poi" alt="poi" ><span class="poi_text">Magazinul cu</br>cel mai mic pret</span></li>
                    <li><img src="resources/images/client/b_poi_green.png" class="map_poi" alt="poi" ><span class="poi_text">Cel mai apropiat</br>magazin</span></li>
                    <li><img src="resources/images/client/b_poi_blue.png" class="map_poi" alt="poi" ><span class="poi_text">Magazine care vand</br>acest produs</span></li>
                    <li><img src="resources/images/client/b_poi_man.png" class="map_poi" alt="poi" ><span class="poi_text">Aici esti tu</span></li>
                </ul>
            </div><!--map_cont ends here-->     
        </div><!--#map_cont ends here-->
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->