<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1" ng-controller="ProductsCtrl"><!--col1 starts here-->
        <div id="breadcrumb"><!-- bredcrumb starts here-->
            <ul class="breadcrumb">
                <li><a href="#">Acasa</a></li>
                <li><a href="#">Produse Alimentare</a></li>
                <li><a href="#">Tea & Coffee</a></li>
            </ul>
        </div><!-- breadcrumb ends here-->
        <div id="produs_cont"><!--produs_cont starts here-->
            <div id="prod_pic"><!--prod_pic starts here-->
                <img class="prod_det" src="resources/images/client/bkg-prod.jpg"/>
                <div id="prod_price"><!--prod_price starts here-->
                    <p class="pret_descr">Pret <br />intre:</p>
                    <p class="pret">25,<sup class="pret_up">99</sup>lei</p><p class="intre">-</p><p class="pret">27,<sup class="pret_up">99</sup>lei</p>
                </div><!--prod_price ends here-->
            </div><!--prod_pic ends here-->
            <div id="prod_detalii"><!--prod detalii starts here-->
                <h1>Ceai "Amaretto Flavour Infuzie"</h1>
                <h2>Descriere</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
            </div><!--prod detalii ends here-->
        </div><!--produs_cont ends here-->
        <div class="divTable"><!--divTable starts here-->
             <div class="headRow">
                <div class="divCell_1"><h1>CAT </br>COSTA</h1></div>
                <div class="divCell_2"><h1>IN CARE </br> MAGAZIN?</h1></div>
                <div class="divCell_3"><h1>INFO </br> MAGAZIN</h1></div>
             </div>
             <h2>Economiile cresc mai</br> usor cu <b>PRICE PAGE</b></h2>
             <div class="clear"></div>
            <div class="divRow">
                <div class="divCell_1">001</div>
                <div class="divCell_2"><p>Carrefour</p><img src="resources/images/client/carrefour.png" alt="carrefour" class="logo_mag"></div>
                <div class="divCell_3"><p>Strada Crisului 18, Brasov 500283</br>0268 320 043 <a href="#">Vezi detalii...</a></p><img src="resources/images/client/poi_rosu.png" class="mag_point"alt="mag_point"/></div>
            </div>
            
            <div class="best"></div>
            <div class="divRow">
                <div class="divCell_1">aaa</div>
                <div class="divCell_2"><p>Carrefour</p><img src="resources/images/client/carrefour.png" alt="carrefour" class="logo_mag"></div>
                <div class="divCell_3"><p>Strada Crisului 18, Brasov 500283</br>0268 320 043 <a href="#">Vezi detalii...</a></p><img src="resources/images/client/poi_albastru.png" class="mag_point"alt="mag_point"/></div>
                
           </div>
           <div class="border_bkg"></div>   
            <div class="divRow">
                <div class="divCell_1">ttt</div>
                <div class="divCell_2"><p>Carrefour</p><img src="resources/images/client/carrefour.png" alt="carrefour" class="logo_mag"></div>
                <div class="divCell_3"><p>Strada Crisului 18, Brasov 500283</br>0268 320 043 <a href="#">Vezi detalii...</a></p><img src="resources/images/client/poi_verde.png" class="mag_point"alt="mag_point"/></div>
           </div>
           <div class="border_bkg"></div>
           <div class="divRow">
                <div class="divCell_1">ttt</div>
                <div class="divCell_2"><p>Carrefour</p><img src="resources/images/client/carrefour.png" alt="carrefour" class="logo_mag"></div>
                <div class="divCell_3"><p>Strada Crisului 18, Brasov 500283</br>0268 320 043 <a href="#">Vezi detalii...</a></p><img src="resources/images/client/poi_mov.png" class="mag_point"alt="mag_point"/></div>
           </div>
           <div class="border_bkg"></div>
        </div><!--divTable ends here-->
        <div id="map_cont"><!--#map_cont starts here-->
            <div class="map_cont"><!--map_cont starts here-->
                <div class="google-map" style="map" center="center" draggable="true" zoom="zoom" markers="markers" mark-click="true"></div>
                <ul id="map_ul">
                    <li><img src="resources/images/client/b_poi_red.png" class="map_poi" alt="poi" ><span class="poi_text">Magazinul cu</br>cel mai mic pret</span></li>
                    <li><img src="resources/images/client/b_poi_red.png" class="map_poi" alt="poi" ><span class="poi_text">Magazinul cu</br>cel mai mic pret</span></li>
                    <li><img src="resources/images/client/b_poi_red.png" class="map_poi" alt="poi" ><span class="poi_text">Magazinul cu</br>cel mai mic pret</span></li>
                    <li><img src="resources/images/client/b_poi_red.png" class="map_poi" alt="poi" ><span class="poi_text">Magazinul cu</br>cel mai mic pret</span></li>
                </ul>
            </div><!--map_cont ends here-->     
        </div><!--#map_cont ends here-->
    </div><!--col1 ends here-->
    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->