<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1"><!--col1 starts here-->
        <div id="breadcrumb"><!-- bredcrumb starts here-->
            <ul class="breadcrumb">
                <li><a href="#">Acasa</a></li>
                <li><a href="#">Magazine</a></li>
                <li><a href="#">Hypermaketuri</a></li>
                <li><a href="#">Real</a></li>
            </ul>
        </div><!-- breadcrumb ends here-->
        <div id="magazin_container"><!--magazin_container starts here-->
            <div id="magazin_titlu"><!--titlu magazin-->
                <h1>Hypermarket Real</h1>
            </div><!--titlu magazin-->
            <div id="descr_titlu"><!--descr_titlu starts here-->
                <h1>Descriere</h1>
            </div><!--descr_titlu ends here-->
            <div id="magazin"><!--magazin starts here-->
                <img src="resources/images/client/real-poza.jpg" alt="real_poza"/>
            </div><!-- magazin ends here-->
            <div id="descr_magazin"><!--descr_magazin starts here-->
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div><!-- descr_magazin ends here-->
            <div class="clearFix"></div>
        </div><!--magazin_container ends here-->
        <div id="prod_container"><!--prod_container here-->
                <div id="produse"><!-- produse starts here-->
                    <section>
                        <h1>Produse populare</h1>
                        <div id="title"><!-- title starts here-->
                            <p>Cele mai vizualizate produse din real</p>
                            <a href="#">Vezi toate>></a>
                        </div><!-- title ends here-->
                        <div class="prod"><!--prod starts here-->
                            <div class="prodImg">
                                <img src="resources/images/client/prod_ex.png" alt="prod" class="prod_ex">
                                <p class="prodtTitle">Geanta de umar</p>
                                <p class="prodStart">Preturi incepand de la</p>
                                <p class="prodPrice">25,<sup class="produtPriceUpper">99</sup><sub class="produtPriceLower">lei</sub>
                            </div>
                        </div>
                        <div class="prod"><!--prod starts here-->
                            <div class="prodImg">
                                <img src="resources/images/client/prod_ex.png" alt="prod" class="prod_ex">
                                <p class="prodtTitle">Geanta de umar</p>
                                <p class="prodStart">Preturi incepand de la</p>
                                <p class="prodPrice">25 <span class="productCurrency">lei</span></p>
                            </div>
                        </div>
                        <div class="prod"><!--prod starts here-->
                        </div>
                        <div class="prod"><!--prod starts here-->
                        </div>
                    </section>
                </div><!--produse ends here-->
        </div><!--prod_container ends here-->
        <div id="map"><!--map starts here-->
        </div><!--map ends here-->
    </div><!--col1 ends here-->

    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->