<div class="colleft"><!--colleft starts here-->
    <header> <h1>Page Content</h1> </header>
    <div class="col1" ng-controller="StoreCtrl"><!--col1 starts here-->
        <!--<div id="breadcrumb">&lt;!&ndash; bredcrumb starts here&ndash;&gt;-->
            <!--<ul class="breadcrumb">-->
                <!--<li><a href="#">Acasa</a></li>-->
                <!--<li><a href="#">Magazine</a></li>-->
                <!--<li><a href="#">Hypermaketuri</a></li>-->
                <!--<li><a href="#">Real</a></li>-->
            <!--</ul>-->
        <!--</div>&lt;!&ndash; breadcrumb ends here&ndash;&gt;-->
        <div id="magazin_container"><!--magazin_container starts here-->
            <div id="magazin_titlu"><!--titlu magazin-->
                <h1>{{name}}</h1>
            </div><!--titlu magazin-->
            <div id="descr_titlu"><!--descr_titlu starts here-->
                <h1>Descriere</h1>
            </div><!--descr_titlu ends here-->
            <div id="magazin"><!--magazin starts here-->
                <img src="resources/images/client/no_image.jpg" alt="real_poza"/>
            </div><!-- magazin ends here-->
            <div id="descr_magazin"><!--descr_magazin starts here-->
                <p>{{description}}</p>
                <div class="fb-like" data-href="{{fbUrl}}" data-send="false" data-width="450" data-show-faces="true"></div>
            </div><!-- descr_magazin ends here-->
            <div class="clearFix"></div>
        </div><!--magazin_container ends here-->
        <div id="prod_container"><!--prod_container here-->
            <div id="title"><!-- title starts here-->
                <p>Cele mai vizualizate produse din real</p>
                <a href="#">Vezi toate>></a>
            </div><!-- title ends here-->
            <div id="produse"><!-- produse starts here-->
                <div class="{{product.idx % 4 == 0 && 'prod' || 'prod prod_grid'}} {{product.idx > 4 && 'prod_grid_top' || ''}}" ng-repeat="product in products" ng-include="'partials/product.html'"></div>
            </div><!--produse ends here-->
        </div><!--prod_container ends here-->
        <div id="shopChainMap" class="map"><!--map starts here-->
        </div><!--map ends here-->
    </div><!--col1 ends here-->

    <div class="col2"><!--col2 starts here-->
        <section>
            <h1>Page Left Content</h1>
            <!--l_menu starts here-->
            <div class="categoryContainer" ng-include="'partials/categories.html'">
            </div>
            <!--l_menu ends here-->

            <!--newsletterContainer starts here-->
            <div class="newsletterContainer" ng-include="'partials/newsletter.html'">
            </div>
            <!--newsletterContainer ends here-->
        </section>
    </div><!--col2 ends here-->
</div><!--colleft ends here-->