<div id="warning_cont">
    <div id="warning">
        <img src="assets/images/warning.png"/>
    </div>
    <div id="warning_links">
        <p>Versiunea de browser pe care o folositi este prea veche.</p>
        <p>Pentru a vizualiza site-ul in forma optima, va rugam updatati-va browserul. </p>
        <a href="https://www.google.com/intl/ro/chrome/browser/"><img src="resources/images/client/chrome.jpg" alt="chrome"/></a>
        <a href="http://www.mozilla.org/en-US/firefox/new/"><img src="resources/images/client/firefox.jpg" alt="firefox"/></a>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie-9/worldwide-languages"><img src="resources/images/client/ie.jpg" alt="IE"/></a>
    </div>
</div>