*{ margin : 0px; padding: 0px; }

body {
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    /* Minimum width of layout - remove line if not required */
					    /* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}

.pp-admin-top{
    background : #555;
    padding : 40px 0px 30px 0px;
    border-bottom : 1px solid #444;
}
.pp-admin-top-title{
    font-family: "Myriad Pro", helvetica;
    text-align : center;
    font-size: 2em;
    color: #333;
    line-height: 30px;
    text-shadow: #6768686 1px 1px 1px;
}
.pp-admin-top-subtitle{
	text-align: center;
	color: #999;
	font-weight: normal;
	font-family: "Myriad Pro", helvetica;
	font-size: 1.3em;
}
.pp-admin-content{
    background: url(#{resource['images/grad.png']}) repeat-x;
    height : 400px;
}
.pp-admin-col-mask{
    position : relative; /* fix IE7 overflow hidden bug */
    clear : both;
    float : left;
    width : 100%;
    overflow : hidden; /* chops off any overhanging divs */
}
.pp-admin-wrapper{
    float : left;
    width : 100%;
    position : relative;
}
.pp-admin-col-left, .pp-admin-col-right{
    float : left;
    position : relative;
    padding : 0 0 1em 0;
    overflow : hidden;
}

.pp-admin-col-mask .pp-admin-wrapper{
    right : 75%; /* right column width */
}
.pp-admin-col-mask .pp-admin-col-right{
    width : 71%;  /* right column content width */
    left : 102%;  /* 100% plus left column left padding */
}
.pp-admin-col-mask .pp-admin-col-left{
    width:21%;    /* left column content width (column width minus left and right padding) */
    left:6%;	  /* (right column left and right padding) plus (left column left padding) */
}
