html, div, map, dt, isindex, form, header, aside, section, section, article, footer {  
    display: block;  
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    background: #F8F8F8;
    font-size: 12px;
}

.pp-admin-clear{
    clear: both;
}

.pp-admin-spacer{
    height: 20px;
}

a:link, a:visited{
    color: #77BACE;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

/* Header */

.pp-admin-header{
    height: 55px;
    width: 100%;
    background: #222222 url(#{resource['images/header_bg.png']}) repeat-x;
}

.pp-admin-header-title, .pp-admin-section-title{
    float: left;
    margin: 0px;
    font-size: 22px;
    display: block;
    width: 23%;
    height: 55px;
    font-weight: normal;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow : 0 -1px 0 #000;
}

.pp-admin-header-title{
    color: #fff;
}
.pp-admin-section-title{
    text-align: center;
    text-indent: 4.5%;
    width: 68%;
    background: url(#{resource['images/header_shadow.png']}) no-repeat left top;
}

.pp-admin-header-title a{
    color: #fff;
    text-decoration: none;
}

.pp-admin-btn-view-site{
    float: left;
    width : 9%;
}
.pp-admin-btn-view-site a{
    display: block;
    margin-top: 12px;
    width: 91px;
    height: 27px;
    background: url(#{resource['images/btn_view_site.png']}) no-repeat;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #000;
}
.pp-admin-btn-view-site a:hover{
    background-position: 0 -27px;
}